@model List<StudentAttendanceVM>

@{
    ViewBag.Title = "Attendance | Dashboard";
    DateTime today = DateTime.Today;
    string min = DateTime.Today.AddMonths(-12).ToString("yyyy-MM");    
    string max = today.ToString("yyyy-MM");
    string default_date = ViewBag.Date ?? null;
}

@section head{
    <style>
        td.warning{
            background: #ffa500;
        }

        td.pass {
            background: #00ff00;
        }

    </style>
}

@Html.TextBox("date", default_date, new { type = "month", min = min, max = max})
<br />
<table class="table">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Percentage</th>
        <th>Warning Letter</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            @if ((ViewBag.Date == null || (DateTime.Parse(ViewBag.Date).Month == today.Month && DateTime.Parse(ViewBag.Date).Year == today.Year)) && s.Percentage < 80)
            {
                <td class="warning">@s.Percentage.ToString("0.00")%</td>
                <td>
                    <button class="warning-btn" data-StudentID="@s.Id" data-Percentage="@s.Percentage">Send</button>
                </td>
            }
            else if (s.Percentage < 80)
            {
                <td class="warning">@s.Percentage.ToString("0.00")%</td>
                <td></td>
            }
            else
            {
                <td class="pass">@s.Percentage.ToString("0.00")%</td>
                <td><span>Attendance Pass</span></td>
            }

            
        </tr>
    }
</table>

@section foot {
    <script>
        $('#date').change(e => { 
            e.preventDefault();

            const el = e.target;
            if (el.value < el.min || el.value > el.max) {
                el.value = el.max;
            }

            const date = $('#date').val();

            $.get(`https://${window.location.host}/Attendance/Attendance/`, {date:date}, (res) => {
                //console.log(res);
                $('.table').html($(res).find('.table').html());
            })
        })

        $("button.warning-btn").click(e => { 
            e.preventDefault();
            console.log(e.target.dataset);
            var id = e.target.dataset.studentid;
            var percentage = e.target.dataset.percentage;
            $.get(`https://${window.location.host}/Attendance/SendWarning/${id}?percentage=${percentage}`, {}, (res) => {
                //console.log(res);
                $('.info').text(res);
                setTimeout(() => { $('.info').text("") }, 5000);
            })
        })
    </script>
}