@model IEnumerable<ClassViewModel>

@{
    ViewBag.Title = "Classes | View Classes";
    //IEnumerable<Class> classes = ViewBag.Classes;
}

 <p>@Model.Count() record(s)</p> 

<table class="table">
    <tr>
        <th>Classes Id</th>
        <th>Classes Name</th>
        <th>Class Types</th>
        <th>Capacity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>
            <td>@c.ClassType</td>
            <td>@c.Capacity</td>
            <td>
                <button data-post="/Classes/Update/@c.Id">Update</button>
            </td>
            <td>
                <button data-post="/Classes/Delete/@c.Id">Delete</button>
            </td>
        </tr>
    }
</table>