@* @model IEnumerable<User>
@{
    ViewBag.Title = "Chart | Goh Qin Long - Pie Chart";
}

<div id="chart" style="width: 400px; height: 300px"></div>

<p id="filter">
    <a href="#">All</a>
    @foreach (var u in Model)
    {
        <text>|</text>
        <a href="#" data-role="@u.Role">@u.Role</a>
    }
</p>

<p>
    [ <a href="Data2?programId=RIT" target="data">Data</a> ]
</p>

@section foot {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(init);

        let dt, opt, cht;

        function init() {
            dt = new google.visualization.DataTable();
            // Data table columns: Gender and Count
            dt.addColumn('string', 'Gender');
            dt.addColumn('number', 'Count');

            opt = {
                title: '--TODO--',
                fontName: 'Roboto',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '90%',
                    height: '90%',
                    top: 50,
                    left: 50
                },
                // TODO: colors ['#dc3912', '#3366cc']
                colors: ['#dc3912', '#3366cc'],
            };

            cht = new google.visualization.PieChart($('#chart')[0]);

            $('#filter a').first().click();
        }

        $('#filter a').click(e => {
            e.preventDefault();

            // TODO: Set param
            const url = 'Data2';
            const param = { role: e.target.dataset.programId };

            $.getJSON(url, param, data => {
                // TODO: Set title
                opt.title = 'Gender Count By Program - ' +
                             (param.role ?? 'All');
                
                dt.removeRows(0, dt.getNumberOfRows());
                dt.addRows(data);
                cht.draw(dt, opt);
            });
        });
    </script>
} *@

@model IEnumerable<User>
@{
    ViewBag.Title = "Chart | Goh Qin Long - Pie Chart";
}

<div id="chart" style="width: 400px; height: 300px"></div>

<p id="filter">
    <a href="#" data-role="">All</a>
    @{
        var roles = Model.Select(u => u.Role).Distinct();
        foreach (var role in roles)
        {
            <text>|</text>
            <a href="#" data-role="@role">@role</a>
        }
    }
</p>

<p>
    [ <a href="Chart3Data" target="data">Data</a> ]
</p>

@section foot {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(init);

        let dt, opt, cht;

        function init() {
            dt = new google.visualization.DataTable();
            dt.addColumn('string', 'Gender');
            dt.addColumn('number', 'Count');

            opt = {
                title: 'Gender Count By Role - All',
                fontName: 'Roboto',
                fontSize: 16,
                titleTextStyle: { fontSize: 20 },
                chartArea: {
                    width: '90%',
                    height: '90%',
                    top: 50,
                    left: 50
                },
                colors: ['#dc3912', '#3366cc'],
            };

            cht = new google.visualization.PieChart(document.getElementById('chart'));
            $('#filter a').first().click();
        }

        $('#filter a').click(function (e) {
            e.preventDefault();

            const url = '@Url.Action("Chart3Data", "Home")';
            const param = { role: $(this).data('role') };

            $.getJSON(url, param, function (data) {
                console.log(data);
                if (data.length > 0) {
                    opt.title = 'Gender Count By Role - ' + (param.role || 'All');
                    dt.removeRows(0, dt.getNumberOfRows());
                    dt.addRows(data);
                    cht.draw(dt, opt);
                } else {
                    opt.title = 'No data available for ' + (param.role || 'All');
                    dt.removeRows(0, dt.getNumberOfRows());
                    cht.draw(dt, opt);
                }
            });
        });

    </script>
}
