@model CreateSubjectsVM

@{
    ViewBag.Title = "Subject | Index";
    IEnumerable<Subjects> subjects = ViewBag.Subjects;
    var tutors = ViewBag.Tutors;

}

<form method="post" class="form">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" autofocus>
    <span asp-validation-for="Name"></span>

    <section>
        <button>Insert</button>
        <button type="reset">Reset</button>
    </section>
</form>

<p>@subjects.Count() record(s)</p> 

<table class="table">
    <tr>
        <th>Subjects Id</th>
        <th>Subjects Name</th>
        <th>Subjects Fees</th>  
        <th>Tutors</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var s in subjects)
    {
        var tutorName = tutors.ContainsKey(s.TutorId) ? tutors[s.TutorId] : "Unknown";
    <tr>
        <td>@s.Id</td>
        <td>@s.Name</td>
        <td>RM @s.Fees</td>
        <td>@tutorName</td>
        <td><button data-post="/Subject/Update/@s.Id">Update</button></td>
        <td><button data-post="/Subject/Delete/@s.Id">Delete</button></td>
    </tr>
    }
</table>
