@model CreateStudentsVM

@{
    ViewBag.Title = "Students | View Students";
    IEnumerable<Student> students = ViewBag.studentList;
}

<p>@students.Count() record(s)</p> 

<table class="table">
    <tr>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Gender</th>
        <th>Classes</th>
        <th>Assign Classes</th>
        <th>View Timetable</th>
    </tr>
    @foreach (var s in students)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Gender</td>
            <td>@s.ClassId</td>
            <td>
                <button data-get="/Student/AssignClass/@s.Id">Assign Class</button>
            </td>
            <td>
                <button data-get="/Student/ViewTimetable/@s.Id">View Timetable</button>
            </td>
        </tr>
    }
</table>